extends layout
block content
		.row
		-if(DataU.departamento == "Centro de Suporte de Operações")
			-if(Carregado[0].ttnumber_status == "new")
				div(class="fixed-action-btn horizontal fixed-add-bottom")
					a.tooltipped.verde-policial-bg.activarAzul(data-position="left", data-delay="10", data-tooltip="Back", class="btn-floating btn-large waves-effect waves-light" href="/manutencao/ttnumberhome/new") <i class=" activarAzul material-icons">reply</i>
			-else if(Carregado[0].ttnumber_status == "In Progress")
				div(class="fixed-action-btn horizontal fixed-add-bottom")
					a.tooltipped.verde-policial-bg.activarAzul(data-position="left", data-delay="10", data-tooltip="Back", class="btn-floating btn-large waves-effect waves-light" href="/manutencao/ttnumberhome/inprogress") <i class=" activarAzul material-icons">reply</i>
		-else if(DataU.departamento == "Climatização e Electricidade")
			-if(Carregado[0].ttnumber_status == "new")
				div(class="fixed-action-btn horizontal fixed-add-bottom")
					a.tooltipped.verde-policial-bg.activarAzul(data-position="left", data-delay="10", data-tooltip="Back", class="btn-floating btn-large waves-effect waves-light" href="/manutencao/jobcardprojectshome/new") <i class=" activarAzul material-icons">reply</i>
			-else if(Carregado[0].ttnumber_status == "In Progress")
				div(class="fixed-action-btn horizontal fixed-add-bottom")
					a.tooltipped.verde-policial-bg.activarAzul(data-position="left", data-delay="10", data-tooltip="Back", class="btn-floating btn-large waves-effect waves-light" href="/manutencao/jobcardprojectshome/inprogress") <i class=" activarAzul material-icons">reply</i>
		form(id="formulario2", method="POST" enctype="multipart/form-data")
			ul(id="progressbar2" style="margin-bottom:0px; margin-top:-30px")
				li.siteinfoIcon(class="active" style="user-select:none") <span class="hide-on-med-and-down">Detalhes da Tarefa</span> <span class="large"> <img class="hide-on-large-only" src="/img/siteinfo.png" style="width:20px">
				//-li.siteinfoIcon(class="active" style="user-select:none") <span class="hide-on-med-and-down">Analise de Risco</span> <span class="large"> <img class="hide-on-large-only" src="/img/risk2.png" style="width:20px">
				li.siteinfoIcon(style="user-select:none") <span class="hide-on-med-and-down">Avaliação de Risco de Último Minuto</span> <span class="large"> <img class="hide-on-large-only" src="/img/risk2.png" style="width:20px">
				li.siteinfoIcon(style="user-select:none") <span class="hide-on-med-and-down">Avaliação do Impacto Ambiental de Último Minuto</span> <span class="large"> <img class="hide-on-large-only" src="/img/risk2.png" style="width:20px">
				li.siteinfoIcon(style="user-select:none") <span class="hide-on-med-and-down">Fotos</span> <span class="large"> <img class="hide-on-large-only" src="/img/photo.png" style="width:20px">
				li.siteinfoIcon(style="user-select:none") <span class="hide-on-med-and-down">Assinatura do Cliente</span> <span class="large"> <img class="hide-on-large-only" src="/img/signature3.png" style="width:25px">
				li.siteinfoIcon(style="user-select:none") <span class="hide-on-med-and-down">Material Usado</span> <span class="large"> <img class="hide-on-large-only" src="/img/corrective.png" style="width:25px">
				li.siteinfoIcon(style="user-select:none") <span class="hide-on-med-and-down">Auditoria</span> <span class="large"> <img class="hide-on-large-only" src="/img/audittrail.png" style="width:20px">
			fieldset(style="padding:25px")
				h2(class="fs-title selmecAzul" style="margin-top:5px; margin-bottom:20px") Detalhes da Tarefa
				.row
					.col.s12.m6
						label(for="departamento") <span data-i18n="demo.utilizador_form.departamento"></span> 
						select.browser-default(id="departamento", name="departamento" readonly)
							option(value="#{Carregado[0].jobcard_departamento}" ) #{Carregado[0].jobcard_departamento}
					.col.s12.m6
						label(for="jobcard_clienteid") <span data-i18n="demo.ttnumber_form.cliente"></span>
						select.browser-default(name="cliente", id="cliente", readonly)
							option(value="#{Carregado[0].jobcard_clientenome}" ) #{Carregado[0].jobcard_clientenome}
					.col.s12.m6
						label(for="jobcard_clienteid") Filial
						select.browser-default(name="cliente", id="cliente")
							option(value="#{Carregado[0].jobcard_site}" ) #{Carregado[0].jobcard_site}
					.col.s12.m6
						label(for="regiao") <span data-i18n="demo.utilizador_form.regiao"></span>
						select.browser-default(name="regiao", id="regiao", style="font-family:", readonly)
							option(value="#{Carregado[0].jobcard_regiao}") #{Carregado[0].jobcard_regiao}
					.col.s12.m6
						label <span data-i18n="demo.utilizador_form.provincia"></span>
						select.browser-default.browser-default(name="provincia_trabalho", id="provincia_trabalho", style="font-family:", readonly)
							option(value="#{Carregado[0].provincia}") #{Carregado[0].provincia}
					.input-field.col.s12.m6
						label(for="local") Local
						input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="local", readonly, name="local" value="#{Carregado[0].local}")
					-if(Carregado[0].pessoacontacto_nome != -1)
						.row
							.input-field.col.s12.m6
								label(for="local") Pessoa de contacto
								input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="local", readonly, name="local" value="#{Carregado[0].pessoacontacto_nome}")
				h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:20px; border-bottom: 5px solid #a1c861 !important;") Equipa
				.row
					.col.s12.m6
						label(for="tecnico") Equipe Tecnica
						select.browser-default(name="tecnico", id="tecnico", style="font-family:")
							option(value="#{Carregado[0].jobcard_tecniconome}") #{Carregado[0].jobcard_tecniconome}
					.col.s12.m6
						label Matricula da viatura
						select.browser-default.browser-default(name="viatura", id="viatura", style="font-family:")
							option(value="#{Carregado[0].viatura}" ) #{Carregado[0].viatura}
					.col.s12.m6(style="margin-top:2px")
						label(for="jobcard_priority") <span data-i18n="demo.ttnumber_form.prioridade"></span>
						select.browser-default(name="jobcard_priority", id="jobcard_priority")
							option(value="" disabled selected) Escolha a opção
							option(value="Alta" selected="#{Carregado[0].jobcard_priority}"=="Alta"?true:false) Alta
							option(value="Media" selected="#{Carregado[0].jobcard_priority}"=="Media"?true:false) Média
							option(value="Baixa"  selected="#{Carregado[0].jobcard_priority}"=="Baixa"?true:false) Baixa
					.input-field.col.s12.m6
						label(for="data") Data prevista
						input.datepicker(autocomplete="off", type="text", style="font-family:;color:#12375c" value="#{Carregado[0].data_inicio}" readonly,id="data", name="data")  
					.input-field.col.s12.m6
						label(for="razao") Razao
						input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="razao",  value="#{Carregado[0].jobcard_hsreason}", name="razao")
					-if(DataU._id == Carregado[0].tecnico_ref && Carregado[0].status=="new" )
						.col.s12.m6(style="padding-top:20px")
							a.waves-effect.waves-light.btn(href="/stock_request/tecnicos/#{DataU._id}" ) <i class="material-icons left">search</i> Meu stock
				.row

					h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:20px; border-bottom: 5px solid #a1c861 !important;") Assistentes
					.col.s12
						table.responsive-table.bordered.striped
							thead
								tr.selmecAzul
									th Nomes
									th
							tbody(id="myTable_responsaveis" style="height:auto !important; text-transform:capitalize")
								-for(let i=0; i<Carregado[0].assistentes.length; i++)
									tr
										td #{Carregado[0].assistentes[i].nome}
			
			if(Carregado[0].jobcard_analisederisco != undefined)
				fieldset(style="padding:25px; margin-top:10px")
					h3(class="fs-title" style="margin-top:20px; margin-bottom:20px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.manutencao_form.analiseRisco"></span>
					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk1"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk1=="ok")
								input.bom(type="radio" id="jobcard_risk1ok" name="jobcard_risk1"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk1ok" name="jobcard_risk1"  value="ok")
							label(for="jobcard_risk1ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk1=="not ok")
								input.mau(type="radio", id="jobcard_risk1notok", name='jobcard_risk1', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk1notok", name='jobcard_risk1', value="not ok")
							label(for="jobcard_risk1notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk1=="na")
								input.moderado(type="radio", id="jobcard_risk1na", name='jobcard_risk1', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk1na", name='jobcard_risk1', value="na")
							label(for="jobcard_risk1na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk2"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk2=="ok")
								input.bom(type="radio" id="jobcard_risk2ok" name="jobcard_risk2"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk2ok" name="jobcard_risk2"  value="ok")
							label(for="jobcard_risk2ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk2=="not ok")
								input.mau(type="radio", id="jobcard_risk2notok", name='jobcard_risk2', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk2notok", name='jobcard_risk2', value="not ok")
							label(for="jobcard_risk2notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk2=="na")
								input.moderado(type="radio", id="jobcard_risk2na", name='jobcard_risk2', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk2na", name='jobcard_risk2', value="na")
							label(for="jobcard_risk2na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk3"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk3=="ok")
								input.bom(type="radio" id="jobcard_risk3ok" name="jobcard_risk3"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk3ok" name="jobcard_risk3"  value="ok")
							label(for="jobcard_risk3ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk3=="not ok")
								input.mau(type="radio", id="jobcard_risk3notok", name='jobcard_risk3', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk3notok", name='jobcard_risk3', value="not ok")
							label(for="jobcard_risk3notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk3=="na")
								input.moderado(type="radio", id="jobcard_risk3na", name='jobcard_risk3', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk3na", name='jobcard_risk3', value="na")
							label(for="jobcard_risk3na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk4"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk4=="ok")
								input.bom(type="radio" id="jobcard_risk4ok" name="jobcard_risk4"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk4ok" name="jobcard_risk4"  value="ok")
							label(for="jobcard_risk4ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk4=="not ok")
								input.mau(type="radio", id="jobcard_risk4notok", name='jobcard_risk4', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk4notok", name='jobcard_risk4', value="not ok")
							label(for="jobcard_risk4notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk4=="na")
								input.moderado(type="radio", id="jobcard_risk4na", name='jobcard_risk4', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk4na", name='jobcard_risk4', value="na")
							label(for="jobcard_risk4na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk5"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk5=="ok")
								input.bom(type="radio" id="jobcard_risk5ok" name="jobcard_risk5"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk5ok" name="jobcard_risk5"  value="ok")
							label(for="jobcard_risk5ok") Sim 	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk5=="not ok")
								input.mau(type="radio", id="jobcard_risk5notok", name='jobcard_risk5', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk5notok", name='jobcard_risk5', value="not ok")
							label(for="jobcard_risk5notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk5=="na")
								input.moderado(type="radio", id="jobcard_risk5na", name='jobcard_risk5', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk5na", name='jobcard_risk5', value="na")
							label(for="jobcard_risk5na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk6"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk6=="ok")
								input.bom(type="radio" id="jobcard_risk6ok" name="jobcard_risk6"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk6ok" name="jobcard_risk6"  value="ok")
							label(for="jobcard_risk6ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk6=="not ok")
								input.mau(type="radio", id="jobcard_risk6notok", name='jobcard_risk6', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk6notok", name='jobcard_risk6', value="not ok")
							label(for="jobcard_risk6notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk6=="na")
								input.moderado(type="radio", id="jobcard_risk6na", name='jobcard_risk6', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk6na", name='jobcard_risk6', value="na")
							label(for="jobcard_risk6na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk7"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk7=="ok")
								input.bom(type="radio" id="jobcard_risk7ok" name="jobcard_risk7"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk7ok" name="jobcard_risk7"  value="ok")
							label(for="jobcard_risk7ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk7=="not ok")
								input.mau(type="radio", id="jobcard_risk7notok", name='jobcard_risk7', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk7notok", name='jobcard_risk7', value="not ok")
							label(for="jobcard_risk7notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk7=="na")
								input.moderado(type="radio", id="jobcard_risk7na", name='jobcard_risk7', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk7na", name='jobcard_risk7', value="na")
							label(for="jobcard_risk7na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk8"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk8=="ok")
								input.bom(type="radio" id="jobcard_risk8ok" name="jobcard_risk8"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk8ok" name="jobcard_risk8"  value="ok")
							label(for="jobcard_risk8ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk8=="not ok")
								input.mau(type="radio", id="jobcard_risk8notok", name='jobcard_risk8', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk8notok", name='jobcard_risk8', value="not ok")
							label(for="jobcard_risk8notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk8=="na")
								input.moderado(type="radio", id="jobcard_risk8na", name='jobcard_risk8', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk8na", name='jobcard_risk8', value="na")
							label(for="jobcard_risk8na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk9"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk9=="ok")
								input.bom(type="radio" id="jobcard_risk9ok" name="jobcard_risk9"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk9ok" name="jobcard_risk9"  value="ok")
							label(for="jobcard_risk9ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk9=="not ok")
								input.mau(type="radio", id="jobcard_risk9notok", name='jobcard_risk9', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk9notok", name='jobcard_risk9', value="not ok")
							label(for="jobcard_risk9notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk9=="na")
								input.moderado(type="radio", id="jobcard_risk9na", name='jobcard_risk9', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk9na", name='jobcard_risk9', value="na")
							label(for="jobcard_risk9na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk10"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk10=="ok")
								input.bom(type="radio" id="jobcard_risk10ok" name="jobcard_risk10"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk10ok" name="jobcard_risk10"  value="ok")
							label(for="jobcard_risk10ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk10=="not ok")
								input.mau(type="radio", id="jobcard_risk10notok", name='jobcard_risk10', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk10notok", name='jobcard_risk10', value="not ok")
							label(for="jobcard_risk10notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk10=="na")
								input.moderado(type="radio", id="jobcard_risk10na", name='jobcard_risk10', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk10na", name='jobcard_risk10', value="na")
							label(for="jobcard_risk10na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk11"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk11=="ok")
								input.bom(type="radio" id="jobcard_risk11ok" name="jobcard_risk11"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk11ok" name="jobcard_risk11"  value="ok")
							label(for="jobcard_risk11ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk11=="not ok")
								input.mau(type="radio", id="jobcard_risk11notok", name='jobcard_risk11', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk11notok", name='jobcard_risk11', value="not ok")
							label(for="jobcard_risk11notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk11=="na")
								input.moderado(type="radio", id="jobcard_risk11na", name='jobcard_risk11', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk11na", name='jobcard_risk11', value="na")
							label(for="jobcard_risk11na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk12"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk12=="ok")
								input.bom(type="radio" id="jobcard_risk12ok" name="jobcard_risk12"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk12ok" name="jobcard_risk12"  value="ok")
							label(for="jobcard_risk12ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk12=="not ok")
								input.mau(type="radio", id="jobcard_risk12notok", name='jobcard_risk12', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk12notok", name='jobcard_risk12', value="not ok")
							label(for="jobcard_risk12notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk12=="na")
								input.moderado(type="radio", id="jobcard_risk12na", name='jobcard_risk12', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk12na", name='jobcard_risk12', value="na")
							label(for="jobcard_risk12na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk13"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk13=="ok")
								input.bom(type="radio" id="jobcard_risk1ok" name="jobcard_risk13"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk1ok" name="jobcard_risk13"  value="ok")
							label(for="jobcard_risk13ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk13=="not ok")
								input.mau(type="radio", id="jobcard_risk13notok", name='jobcard_risk13', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk13notok", name='jobcard_risk13', value="not ok")
							label(for="jobcard_risk13notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk13=="na")
								input.moderado(type="radio", id="jobcard_risk13na", name='jobcard_risk13', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk13na", name='jobcard_risk13', value="na")
							label(for="jobcard_risk13na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk14"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk14=="ok")
								input.bom(type="radio" id="jobcard_risk14ok" name="jobcard_risk14"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk14ok" name="jobcard_risk14"  value="ok")
							label(for="jobcard_risk14ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk14=="not ok")
								input.mau(type="radio", id="jobcard_risk14notok", name='jobcard_risk14', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk14notok", name='jobcard_risk14', value="not ok")
							label(for="jobcard_risk14notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk14=="na")
								input.moderado(type="radio", id="jobcard_risk14na", name='jobcard_risk14', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk14na", name='jobcard_risk14', value="na")
							label(for="jobcard_risk14na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk15"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk15=="ok")
								input.bom(type="radio" id="jobcard_risk51ok" name="jobcard_risk15"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk15ok" name="jobcard_risk15"  value="ok")
							label(for="jobcard_risk15ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk15=="not ok")
								input.mau(type="radio", id="jobcard_risk15notok", name='jobcard_risk15', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk15notok", name='jobcard_risk15', value="not ok")
							label(for="jobcard_risk15notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk15=="na")
								input.moderado(type="radio", id="jobcard_risk15na", name='jobcard_risk15', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk15na", name='jobcard_risk15', value="na")
							label(for="jobcard_risk15na") N/A
					
					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk16"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk16=="ok")
								input.bom(type="radio" id="jobcard_risk16ok" name="jobcard_risk16"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk16ok" name="jobcard_risk16"  value="ok")
							label(for="jobcard_risk16ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk16=="not ok")
								input.mau(type="radio", id="jobcard_risk16notok", name='jobcard_risk16', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk16notok", name='jobcard_risk16', value="not ok")
							label(for="jobcard_risk16notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk16=="na")
								input.moderado(type="radio", id="jobcard_risk16na", name='jobcard_risk16', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk16na", name='jobcard_risk16', value="na")
							label(for="jobcard_risk16na") N/A
					
					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk17"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk17=="ok")
								input.bom(type="radio" id="jobcard_risk17ok" name="jobcard_risk17"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk17ok" name="jobcard_risk17"  value="ok")
							label(for="jobcard_risk17ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk17=="not ok")
								input.mau(type="radio", id="jobcard_risk17notok", name='jobcard_risk17', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk17notok", name='jobcard_risk17', value="not ok")
							label(for="jobcard_risk17notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk17=="na")
								input.moderado(type="radio", id="jobcard_risk17na", name='jobcard_risk17', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk17na", name='jobcard_risk17', value="na")
							label(for="jobcard_risk17na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk18"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk18=="ok")
								input.bom(type="radio" id="jobcard_risk18ok" name="jobcard_risk18"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk18ok" name="jobcard_risk18"  value="ok")
							label(for="jobcard_risk18ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk18=="not ok")
								input.mau(type="radio", id="jobcard_risk18notok", name='jobcard_risk18', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk18notok", name='jobcard_risk18', value="not ok")
							label(for="jobcard_risk18notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk18=="na")
								input.moderado(type="radio", id="jobcard_risk18na", name='jobcard_risk18', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk18na", name='jobcard_risk18', value="na")
							label(for="jobcard_risk18na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRisco.risk19"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk19=="ok")
								input.bom(type="radio" id="jobcard_risk19ok" name="jobcard_risk19"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk19ok" name="jobcard_risk19"  value="ok")
							label(for="jobcard_risk19ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk19=="not ok")
								input.mau(type="radio", id="jobcard_risk19notok", name='jobcard_risk19', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk19notok", name='jobcard_risk19', value="not ok")
							label(for="jobcard_risk19notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederisco.jobcard_risk19=="na")
								input.moderado(type="radio", id="jobcard_risk19na", name='jobcard_risk19', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk19na", name='jobcard_risk19', value="na")
							label(for="jobcard_risk19na") N/A

					.row(style="margin-bottom:18px;")
						.col.s12.m12.input-field
							label(for="jobcard_radiocomments") <span data-i18n="demo.analiseRisco.commentario"></span>
							input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_radiocomments" ,name="jobcard_radiocomments" value="#{Carregado[0].jobcard_analisederisco.jobcard_radiocomments}")

			if(Carregado[0].jobcard_analisederiscoAmbiental != undefined)
				fieldset(style="padding:25px; margin-top:10px")
					h3(class="fs-title" style="margin-top:20px; margin-bottom:20px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.analiseRiscoAmbiental.analise_riscoAmbiental"></span>
					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk1"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk21=="ok")
								input.bom(type="radio" id="jobcard_risk21ok" name="jobcard_risk21"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk21ok" name="jobcard_risk21"  value="ok")
							label(for="jobcard_risk21ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk21=="not ok")
								input.mau(type="radio", id="jobcard_risk21notok", name='jobcard_risk21', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk21notok", name='jobcard_risk21', value="not ok")
							label(for="jobcard_risk21notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk21=="na")
								input.moderado(type="radio", id="jobcard_risk21na", name='jobcard_risk21', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk21na", name='jobcard_risk21', value="na")
							label(for="jobcard_risk21na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk2"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk22=="ok")
								input.bom(type="radio" id="jobcard_risk22ok" name="jobcard_risk22"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk22ok" name="jobcard_risk22"  value="ok")
							label(for="jobcard_risk22ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk22=="not ok")
								input.mau(type="radio", id="jobcard_risk22notok", name='jobcard_risk22', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk22notok", name='jobcard_risk22', value="not ok")
							label(for="jobcard_risk22notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk22=="na")
								input.moderado(type="radio", id="jobcard_risk22na", name='jobcard_risk22', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk22na", name='jobcard_risk22', value="na")
							label(for="jobcard_risk22na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk3"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk23=="ok")
								input.bom(type="radio" id="jobcard_risk23ok" name="jobcard_risk23"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk23ok" name="jobcard_risk23"  value="ok")
							label(for="jobcard_risk23ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk23=="not ok")
								input.mau(type="radio", id="jobcard_risk23notok", name='jobcard_risk23', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk23notok", name='jobcard_risk23', value="not ok")
							label(for="jobcard_risk23notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk23=="na")
								input.moderado(type="radio", id="jobcard_risk23na", name='jobcard_risk23', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk23na", name='jobcard_risk23', value="na")
							label(for="jobcard_risk23na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk4"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk24=="ok")
								input.bom(type="radio" id="jobcard_risk24ok" name="jobcard_risk24"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk24ok" name="jobcard_risk24"  value="ok")
							label(for="jobcard_risk24ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk24=="not ok")
								input.mau(type="radio", id="jobcard_risk24notok", name='jobcard_risk24', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk24notok", name='jobcard_risk24', value="not ok")
							label(for="jobcard_risk24notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk24=="na")
								input.moderado(type="radio", id="jobcard_risk24na", name='jobcard_risk24', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk24na", name='jobcard_risk24', value="na")
							label(for="jobcard_risk24na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk5"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk25=="ok")
								input.bom(type="radio" id="jobcard_risk25ok" name="jobcard_risk25"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk25ok" name="jobcard_risk25"  value="ok")
							label(for="jobcard_risk25ok") Sim 	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk25=="not ok")
								input.mau(type="radio", id="jobcard_risk25notok", name='jobcard_risk25', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk25notok", name='jobcard_risk25', value="not ok")
							label(for="jobcard_risk25notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk25=="na")
								input.moderado(type="radio", id="jobcard_risk25na", name='jobcard_risk25', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk25na", name='jobcard_risk25', value="na")
							label(for="jobcard_risk25na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk6"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk26=="ok")
								input.bom(type="radio" id="jobcard_risk26ok" name="jobcard_risk26"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk26ok" name="jobcard_risk26"  value="ok")
							label(for="jobcard_risk26ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk26=="not ok")
								input.mau(type="radio", id="jobcard_risk26notok", name='jobcard_risk26', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk26notok", name='jobcard_risk26', value="not ok")
							label(for="jobcard_risk26notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk26=="na")
								input.moderado(type="radio", id="jobcard_risk26na", name='jobcard_risk26', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk26na", name='jobcard_risk26', value="na")
							label(for="jobcard_risk26na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk7"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk27=="ok")
								input.bom(type="radio" id="jobcard_risk27ok" name="jobcard_risk27"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk27ok" name="jobcard_risk27"  value="ok")
							label(for="jobcard_risk27ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk27=="not ok")
								input.mau(type="radio", id="jobcard_risk27notok", name='jobcard_risk27', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk27notok", name='jobcard_risk27', value="not ok")
							label(for="jobcard_risk27notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk27=="na")
								input.moderado(type="radio", id="jobcard_risk27na", name='jobcard_risk27', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk27na", name='jobcard_risk27', value="na")
							label(for="jobcard_risk27na") N/A

					.row(style="margin-bottom:18px;")
						h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.analiseRiscoAmbiental.risk8"></span>
						.col.s3.m3(style="margin-left:37px;")
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk28=="ok")
								input.bom(type="radio" id="jobcard_risk28ok" name="jobcard_risk28"  value="ok" checked)
							-else
								input.bom(type="radio" id="jobcard_risk28ok" name="jobcard_risk28"  value="ok")
							label(for="jobcard_risk28ok") Sim	
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk28=="not ok")
								input.mau(type="radio", id="jobcard_risk28notok", name='jobcard_risk28', value="not ok" checked)
							-else
								input.mau(type="radio", id="jobcard_risk28notok", name='jobcard_risk28', value="not ok")
							label(for="jobcard_risk28notok") Nao
						.col.s3.m3
							-if(Carregado[0].jobcard_analisederiscoAmbiental.jobcard_risk28=="na")
								input.moderado(type="radio", id="jobcard_risk28na", name='jobcard_risk28', value="na" checked)
							-else
								input.moderado(type="radio", id="jobcard_risk28na", name='jobcard_risk28', value="na")
							label(for="jobcard_risk28na") N/A

					.row(style="margin-bottom:18px;")
						.col.s12.m12.input-field
							label(for="jobcard_radiocomments2") <span data-i18n="demo.analiseRiscoAmbiental.commentario"></span>
							input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_radiocomments2" ,name="jobcard_radiocomments2" value="#{Carregado[0].jobcard_analisederiscoAmbiental.jobcard_radiocomments2}")


			//-****************

			fieldset(style="padding:25px")
				h2(class="fs-title selmecAzul" style="margin-top:5px; margin-bottom:20px") Fotos
				row(style="margin-bottom:20px")
					.col.s12.m12.input-field
						-for(let i=0; i<(Carregado[0].photoinfo.length); i++)
							img.verimagem(style="width:100px; margin: 20px;" , src="#{Carregado[0].photoinfo[i]}")


		


		
			fieldset(style="padding:25px")
				h2(class="fs-title selmecAzul" ) Assinatura do Cliente
				.div
					if(Carregado[0].assinatura)
						img(src="#{Carregado[0].assinatura}" style="width:65vw !important; height:50vh")
			fieldset(style="padding:25px")
				h2(class="fs-title selmecAzul" ) Material Usado
				-if(Carregado[0].sparesArrayJobcard.length > 0)
					table.responsive-table.bordered.striped.icn1
						thead
							tr.selmecAzul
								th Referencia
								th Descricao
								th Quantidade	
						-for(var index =0; index<(Carregado[0].sparesArrayJobcard.length); index++)
							tr.highlight(data-funcionario="#{Carregado[0]._id}", data-nome="#{Carregado[0].jobcard_audittrail[index].jobcard_audittrailname}",style="color:#{Carregado[0].observacao}")
								td #{Carregado[0].jobcard_cod}
								td #{Carregado[0].sparesArrayJobcard[index].jobcard_item}
								td #{Carregado[0].sparesArrayJobcard[index].jobcard_quantityuse}
			fieldset(style="padding:25px")
				h2(class="fs-title selmecAzul") Auditoria
				table.responsive-table.bordered.striped.icn1
					thead
						tr.selmecAzul
							th Nome
							th Accao
							th Data	
					-for(var index =0; index<Carregado[0].jobcard_audittrail.length ; index++)
						tr.highlight(data-funcionario="#{Carregado[0]._id}", data-nome="#{Carregado[0].jobcard_audittrail[index].jobcard_audittrailname}",style="color:#{Carregado[0].observacao}")
							td #{Carregado[0].jobcard_audittrail[index].jobcard_audittrailname}
							td #{Carregado[0].jobcard_audittrail[index].jobcard_audittrailaction}
							td #{Carregado[0].jobcard_audittrail[index].jobcard_audittraildate}
							//- td #{((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getDate()<10? '0'+(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getDate():(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getDate())+'/'+(((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMonth()+1)<10? ('0'+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMonth()+1)):((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMonth()+1))+'/'+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getFullYear())+'   '+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getHours()<10? ('0'+(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getHours()): (Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getHours() )+' : '+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMinutes()<10? ('0'+(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMinutes()):(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMinutes())}
							//- td #{((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getDate()<10? '0'+(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getDate():(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getDate())+'/'+(((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMonth()+1)<10? ('0'+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMonth()+1)):((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMonth()+1))+'/'+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getFullYear())+'   '+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getHours()<10? ('0'+(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getHours()): (Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getHours() )+' : '+((Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMinutes()<10? ('0'+(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMinutes()):(Carregado[0].jobcard_audittrail[index].jobcard_audittraildate).getMinutes())}
				.row#recolherdados(data-user-new="#{Carregado[0]._id}")
					-if(Carregado[0].jobcard_audittrail.length>2)
						button#vermapahvvac(type="button", ghsyu="#{Carregado[0]._id}", class="btn waves-efect waves-light activarAzul") Mapa
					-if((Carregado[0].jobcard_estadoactual !='On hold' && DataU.nome == Carregado[0].jobcard_controladorintervenientes[1]) && ((Carregado[0].jobcard_controlador.length) < 3 || (Carregado[0].jobcard_controlador[3] == 0)))
						input.sendapprovalproject(type="button", name="submit", data-user-new="#{Carregado[0]._id}", class="submit action-button", value="Send for approval" style="width:180px")
					-else
						if(DataU.nome == "David De Almeida" || DataU.funcao == "Call Center" || DataU.funcao =="Rogerio Galrito")
							input.editjobcard_project(type="button", name="submit", class="submit action-button", value="Update Jobcard" style="width:180px")
						-if((Carregado[0].jobcard_audittrail.length>3 && Carregado[0].jobcard_estadoactual != "Approved" && Carregado[0].jobcard_estadoactual != "Sent back") && (Carregado[0].ttnumber_status == "In Progress") && DataU.funcao != "Tecnico" )
							button#aprovarjobcardproject(type="button", data-user-new="#{Carregado[0]._id}",  datajobtype="#{Carregado[0].jobcard_jobtype}", class="btn waves-efect waves-light activarAzul", style="margin:22px") Aprovar
							button#detalhesDevolverJobcardProject(type="button", data-user-new="#{Carregado[0]._id}" ,class="btn waves-efect waves-light activarAzul", style="margin:0px") Devolver
							
		block js

		script.
			//jQuery time
			var current_fs, next_fs, previous_fs; //fieldsets
			var left, opacity, scale; //fieldset properties which we will animate
			var animating; //flag to prevent quick multi-click glitches

			$(".next").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			next_fs = $(this).parent().next();

			//activate next step on progressbar using the index of next_fs
			$("#progressbar2 li").eq($("fieldset").index(next_fs)).addClass("active");

			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
			'transform': 'scale('+scale+')',
			'position': 'relative'
			});
			next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".siteinfoIcon").click(function(e){
			e.preventDefault();
			$("#progressbar2 li:not(:first)").removeClass("active");

			$("fieldset").hide();

			// if(animating) return false;
			// animating = true;
			var maximo= $(this).index(".siteinfoIcon");

		
			for(var i=0; i<maximo; i++){
			$("#progressbar2 li").eq((i+1)).addClass("active");
			console.log("happme************")
			}

			console.log(maximo);
			$("fieldset").eq(maximo).show()
			})

			$(".previous").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();

			//de-activate current step on progressbar
			$("#progressbar2 li").eq($("fieldset").index(current_fs)).removeClass("active");

			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".submit").click(function(){
			return false;
			})

			setInterval(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<800){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			//- document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);


			var listaprovincia = new Array(11) ;
			listaprovincia["empty"] = ["Provincia"]; 
			listaprovincia["Maputo Cidade"] = ["KaMpfumo", "Nlhamankulu", "KaMaxaquene", "KaMavota", "KaMubukwana", "KaTembe", "KaNyaka"];
			listaprovincia["Maputo Provincia"] = ["Boane", "Magude", "Manhiça", "Marracuene", "Matutuíne", "Moamba", "Namaacha"];
			listaprovincia["Gaza"] = ["Bilene Macia", "Chibuto", "Chicualacuala", "Chigubo", "Chókwè", "Guijá", "Mabalane", "Manjacaze", "Massangena", "Massingir", "Xai-Xai"];
			listaprovincia["Inhambane"] = ["Funhalouro", "Govuro", "Homoíne", "Inhambane", "Inharrime", "Inhassoro", "Jangamo", "Mabote", "Massinga", "Morrumbene", "Panda", "Vilanculos", "Zavala"];
			listaprovincia["Manica"] = ["Bárue", "Gondola", "Guro", "Macate", "Machaze", "Macossa", "Manica", "Mossurize", "Sussundenga", "Tambara", "Vanduzi"];
			listaprovincia["Sofala"] = ["Búzi", "Caia", "Chemba", "Cheringoma", "Chibabava", "Dondo", "Gorongosa", "Machanga", "Maringué", "Marromeu", "Muanza", "Nhamatanda"];
			listaprovincia["Tete"] = ["Angónia", "Cahora-Bassa", "Changara", "Chifunde", "Chiuta", "Dôa", "Macanga", "Magoé", "Marara", "Marávia", "Moatize", "Mutarara", "Tsangano", "Zumbo"];
			listaprovincia["Zambezia"] = ["Alto Molócue", "Chinde", "Derre", "Gilé", "Gurué", "Ile", "Inhassunge", "Luabo", "Lugela", "Maganja da Costa", "Milange", "Mocuba", "Mocubela", "Molumbo", "Mopeia", "Morrumbala", "Mulevala", "Namacurra", "Namarroi", "Nicoadala", "Pebane", "Quelimane"];
			listaprovincia["Nampula"] = ["Angoche", "Eráti", "Ilha de Moçambique", "Lalaua", "Larde", "Liúpo", "Malema", "Meconta", "Mecubúri", "Memba", "Mogincual", "Mogovolas", "Moma", "Monapo", "Mossuril", "Muecate", "Murrupula", "Nacala-a-Velha", "Nacarôa", "Nampula", "Ribaué"];
			listaprovincia["Niassa"] = ["Cuamba", "Lago", "Lichinga", "Majune", "Mandimba", "Marrupa", "Maúa", "Mavago", "Mecanhelas", "Mecula", "Metarica", "Muembe", "N'gauma", "Nipepe", "Sanga"];
			listaprovincia["Cabo Delgado"] = ["Ancuabe", "Balama", "Chiúre", "Ibo", "Macomia", "Mecufi", "Meluco", "Metuge", "Mocímboa da Praia", "Montepuez", "Mueda", "Muidumbe", "Namuno", "Nangade", "Palma", "Pemba Metuge", "Quissanga"];

			function countryChange(selectObj) { 
			
				// get the index of the selected option 
				var idx = selectObj.selectedIndex; 
				
				// get the value of the selected option 
				var which = selectObj.options[idx].value; 
				
				// use the selected option value to retrieve the list of items from the countryLists array 
				var cList = listaprovincia[which]; 
				
				// get the country select element via its known id 
				var cSelect = document.getElementById("siteinfo_area"); 
				
				// remove the current options from the country select 
				var len=cSelect.options.length; 
				
				while (cSelect.options.length > 0) { 
				cSelect.remove(0); 
				} 

				var newOption; 
				// create new options 
				for (var i=0; i<cList.length; i++) { 

					newOption = document.createElement("option"); 
					
					newOption.value = cList[i];  // assumes option string and value are the same 
					newOption.text=cList[i]; 
					
					cSelect.appendChild(newOption);
					 //- console.log(cSelect); 
					//- // add the new option 
					//- try { 
					//- 	cSelect.add(newOption);  // this will fail in DOM browsers but is needed for IE 
					//- } 
					//- catch (e) { 
					//- 	
					//- } 
				}

				
			}