extends layout
block content
	.container.seccao.white
		.fixed-action-btn.top.fixed-add-bottom
				a.btn-floating.pointer.activarAzul(data-position="left", data-delay="10", data-tooltip="Add new inspection ", class="btn-floating btn-large waves-effect waves-light", href="/dc_insp/ups/#{DC_insp._id}/novo") <i class="material-icons activarVerde">add</i>
		if !DC_insp.ups || ! DC_insp.ups.length
			p.center-align.selmecAzul.bold Vazio!
		else
			form(class="col s12"  method="POST" action="/dc_insp/buscar"  name="alljobcardspesquisaform")
				.row
					.col.s12.m6
					.col.s12.m6.right.input-field
						i.material-icons.prefix search
						label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
						input(type="text", id="pesquisador", autocomplete="off" name="pesquisador", style="border-bottom:none !important;")
			h1.center-align.selmecAzul.bold(style="font-size: 1.5rem") UPS of #{DC_insp.site_number} - #{DC_insp.site_name}
			fieldset.no-border.legend-border
						legend.selmecAzul.bold
			table.responsive-table.bordered.striped.icn1
				thead
					tr.selmecAzul
						th Description
						th L1-L2-L3(KW)
						th L1-L2-L3(A)
						th Battery
						th Data
						th Done By
						th
				tbody(id="myTable")
					-for(var index =0 ; index<DC_insp.ups.length ; index++)
						tr.highlight(data-funcionario="#{DC_insp.ups[index]._id}", data-nome="#{DC_insp.ups[index].nome}",style="color:#{DC_insp.ups[index].observacao}")
							td #{DC_insp.ups[index].name}-#{DC_insp.ups[index].specific}
							td #{DC_insp.ups[index].l1_kw} - #{DC_insp.ups[index].l2_kw} - #{DC_insp.ups[index].l3_kw}
							td #{DC_insp.ups[index].l1_A} - #{DC_insp.ups[index].l2_A} - #{DC_insp.ups[index].l3_A}
							td #{DC_insp.ups[index].battery_bank}
							td #{DC_insp.ups[index].done_on}
							td #{DC_insp.ups[index].done_by}
							td
								a.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Details of #{DC_insp.ups[index].marca_modelo} transference", href="/dc_insp/ups/detalhes/#{DC_insp._id}/#{DC_insp.ups[index]._id}") <i class="material-icons activarVerde">info</i>
								a.pointer.info.hide(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="edit  #{DC_insp.ups[index].nome}", href="/dc_insp/editar/#{DC_insp._id}/#{DC_insp.ups[index]._id}") <i class="material-icons selmecAzul">edit</i>

	block js
		script.
			setInterval(function(){document.getElementById("StockId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="auto";}
			}, 50);