extends layout
block content
	.row(style="margin-top:15px;margin-bottom: 0px !important;")
		.row#recolherdados(detalhesjobcards="#{DadosJobcards}" detalhessession="#{DataU.nome}" detalhesdept="#{DataU.departamento}" detalhesprojectos="#{DadosProjects}")
			if((DataU.nome != "Teresa Guimaraes") && (DataU.departamento_id!="615349880bd5ed0cdc5ea1b8") && ((DataU.funcao == "Call Center" && DataU.nivel_acesso == "normal") || DataU.funcao == "Manager" || DataU.nivel_acesso=="admin" || DataU.funcao=="Commercial"))
				div(class="fixed-action-btn horizontal fixed-add-bottom")
					a.tooltipped.verde-policial-bg.activarAzul.novocallout(data-position="left", data-delay="10", data-tooltip="add new ttnumber", href="/manutencao/ttnumberhome/novocallout" class="btn-floating btn-large waves-effect waves-light") <i class=" activarAzul material-icons">add</i>
		.row
			if(Jobcards.length == 0)
				p.center-align.selmecAzul.bold <span data-i18n="demo.ttnumber_form.seminfo"></span>
			else
				if(Jobcards[0].ttnumber_status == "New" || Jobcards[0].ttnumber_status =="new")
					form#tthomenewpesquisa(class="col s12"  method="POST" onsubmit="return validateFormTThomenew()" name="tthomenewpesquisa")
						.row
							.col.s12.m6
							.col.s12.m6.right.input-field
								i.material-icons.prefix search
								label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
								input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
					h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.manutencao_form.ttnumberhomenew"></span>
				else
					if(Jobcards[0].ttnumber_status == "In Progress")
						form#tthomeinprogresspesquisa(class="col s12"  method="POST" onsubmit="return validateFormTThomeinprogress()" name="tthomeinprogresspesquisa")
							.row
								.col.s12.m6
								.col.s12.m6.right.input-field
									i.material-icons.prefix search
									label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
									input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
						h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.manutencao_form.ttnumberhomeinprogress"></span>
					else
						form#tthomecompletepesquisa(class="col s12"  method="POST" onsubmit="return validateFormTThomecomplete()" name="tthomecompletepesquisa")
							.row
								.col.s12.m6
								.col.s12.m6.right.input-field
									i.material-icons.prefix search
									label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
									input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
						h1.center-align.selmecAzul.bold(style="font-size: 1.5em") Novas Folhas de Serviço de Manutenção Correctiva
				fieldset.no-border.legend-border
					legend.selmecAzul.bold
				table.responsive-table.bordered.striped#myTable
					thead
						tr.selmecAzul
							th TT Number
							th <span data-i18n="demo.manutencao_form.localizacao"></span>
							th <span data-i18n="demo.manutencao_form.priority"></span>
							th <span data-i18n="demo.ttnumber_form.cliente"></span>
							//- th Call
							th <span data-i18n="demo.manutencao_form.tecnico"></span>
							th <span data-i18n="demo.manutencao_form.dataregistro"></span>
							th <span data-i18n="demo.manutencao_form.lastupdate"></span>
							th <span data-i18n="demo.manutencao_form.region"></span>
							th <span data-i18n="demo.manutencao_form.provincia"></span>
							th Criado Por
							th Estado
							th <span data-i18n="demo.manutencao_form.responsetime"></span>
							-if(Jobcards[0].ttnumber_status == "Complete")
								th <span data-i18n="demo.manutencao_form.spareused"></span>
								th <span data-i18n="demo.manutencao_form.dieselrefuel"></span>
								th <span data-i18n="demo.manutencao_form.credelecadd"></span>
							th
					tbody(id="myTableUser1")
						-for(let index=0; index<Jobcards.length;index++)
							tr.highlight(style="font-family:;color:#12375c")
								td #{Jobcards[index].jobcard_ttnumber}
								td #{Jobcards[index].jobcard_site}
								-if (Jobcards[index].jobcard_priority != undefined)
									td #{Jobcards[index].jobcard_priority}
								-else
									td ----
								td #{Jobcards[index].jobcard_clientenome}
								td #{Jobcards[index].jobcard_tecniconome}
								td #{(Jobcards[index].data_registojobcard.getDate()<10? "0"+Jobcards[index].data_registojobcard.getDate():Jobcards[index].data_registojobcard.getDate())+"/"+((Jobcards[index].data_registojobcard.getMonth()+1)<10? "0"+(Jobcards[index].data_registojobcard.getMonth()+1):(Jobcards[index].data_registojobcard.getMonth()+1))+"/"+Jobcards[index].data_registojobcard.getFullYear()+", "+ Jobcards[index].data_registojobcard.getHours()+":"+ Jobcards[index].data_registojobcard.getMinutes()+":"+Jobcards[index].data_registojobcard.getSeconds()}
								-if(Jobcards[index].jobcard_audittrail.length == 1)
									td.left-align ----
								-else
									-if(Jobcards[index].data_ultimaactualizacaojobcard.getDate() < 10)
										-var day = "0"+Jobcards[index].data_ultimaactualizacaojobcard.getDate()
									-else
										-var day = Jobcards[index].data_ultimaactualizacaojobcard.getDate()
									-if(Jobcards[index].data_ultimaactualizacaojobcard.getMonth() < 10)
										-var month = "0"+(Jobcards[index].data_ultimaactualizacaojobcard.getMonth()+1)
									-else
										-var month = (Jobcards[index].data_ultimaactualizacaojobcard.getMonth()+1)
									- var year = Jobcards[index].data_ultimaactualizacaojobcard.getFullYear()
									-if(Jobcards[index].data_ultimaactualizacaojobcard.getHours() < 10)
										-var hours = "0"+Jobcards[index].data_ultimaactualizacaojobcard.getHours()
									-else
										- var hours = Jobcards[index].data_ultimaactualizacaojobcard.getHours()
									-if(Jobcards[index].data_ultimaactualizacaojobcard.getMinutes() < 10)
										-var minutes = "0"+Jobcards[index].data_ultimaactualizacaojobcard.getMinutes()
									-else
										-var minutes = Jobcards[index].data_ultimaactualizacaojobcard.getMinutes()
									-if(Jobcards[index].data_ultimaactualizacaojobcard.getSeconds() < 10)
										-var seconds = "0"+Jobcards[index].data_ultimaactualizacaojobcard.getSeconds()
									-else
										-var seconds = Jobcards[index].data_ultimaactualizacaojobcard.getSeconds()
									td #{day}/#{month}/#{year}, #{hours}:#{minutes}:#{seconds}
								td #{Jobcards[index].jobcard_regiao}
								td #{Jobcards[index].jobcard_provincia}
								td #{Jobcards[index].jobcard_loggedby}
								td #{Jobcards[index].jobcard_estadoactual}
								if ((Jobcards[index].jobcard_responsetime) == null)
										td ----
									else
										if((Jobcards[index].jobcard_responsedays) > 1)
											td #{Jobcards[index].jobcard_responsedays} dias e #{Jobcards[index].jobcard_responsetime} hrs
										else if((Jobcards[index].jobcard_responsedays) == 1)
											td #{Jobcards[index].jobcard_responsedays} dia e #{Jobcards[index].jobcard_responsetime} hrs
										else
											td #{Jobcards[index].jobcard_responsetime} hrs
								-if(Jobcards[0].ttnumber_status == "Complete") 
									td
										-if(Jobcards[index].sparesArrayJobcard.length != 0)
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Use") <img style='width:20px;' src='/img/checked2.png'>
										-else
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-user-new="#{Jobcards[index]._id}", data-tooltip="Don't use") <img style='width:20px;' src='/img/dinied.png'>
									td
										-if((Jobcards[index].generatorArrayJobcard.length != 0) && (Jobcards[index].generatorArrayJobcard.findIndex(x => x.jobcard_generatorrefuel == "0") == -1))
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Added") <img style='width:20px;' src='/img/checked2.png'>
										-else
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-user-new="#{Jobcards[index]._id}", data-tooltip="Didn't add") <img style='width:20px;' src='/img/dinied.png'>
									td
										-if(Jobcards[index].jobcard_credelecinfo != undefined && Jobcards[index].jobcard_credelecinfo.length != 0 )
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Added") <img style='width:20px;' src='/img/checked2.png'>
										-else
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-user-new="#{Jobcards[index]._id}", data-tooltip="Didn't add") <img style='width:20px;' src='/img/dinied.png'>
								
								td.left-align
									-if (((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[1]) && (Jobcards[index].jobcard_controlador.length == 2)))
										-if ((Jobcards[index].jobcard_tecarrivaldate != undefined) && (Jobcards[index].jobcard_sitearrivaldate == undefined))
												a.pointer.chegadasite(style="margin-left: 30px; color:green",data-position="top", data-delay="10", data-tooltip="Site Arrival", data-user-new="#{Jobcards[index]._id}", datajobtype="#{Jobcards[index].jobcard_jobtype}") <i class="material-icons selmecAzul">location_on</i>	
										-else
											-if(!Jobcards[index].jobcard_analisederisco || !Jobcards[index].jobcard_analisederiscoAmbiental || !Jobcards[index].jobcard_analisederisco.jobcard_risk1 || !Jobcards[index].jobcard_analisederiscoAmbiental.jobcard_risk21)
												a.tooltipped.pointer.analiseRisco(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Analise de Risco", data-user-new="#{Jobcards[index]._id}", datajobtype="#{Jobcards[index].jobcard_jobtype}") <img width="30px" src="/img/risk2.png" style="margin-bottom:-2px">
											-else
												a.tooltipped.pointer.generatordetalhes(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Generator Details", datareferencia="#{Jobcards[index]._id}") <img width="27px" src="/img/generator.png" style="margin-bottom:-2px">
													-if(DataU.departamento == "Centro de Suporte de Operações")	
														a.tooltipped.pointer.credelecdetalhes(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Credelec Details", datareferencia="#{Jobcards[index]._id}") <img width="27px" src="/img/electricity.png" style="margin-bottom:-2px">
												a.tooltipped.pointer.equipmentrepairs(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Equipment Repairs", data-user-new="#{Jobcards[index]._id}") <i class="material-icons selmecAzul">build</i>
												a.tooltipped.pointer.sparesused(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Spares Used", data-user-new="#{Jobcards[index]._id}", data-user-name="#{Jobcards[index].jobcard_tecnicoid}") <img width="30px" src="/img/boxspares.png" style="margin-bottom:-2px">
												a.tooltipped.pointer.notifycallcenter(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Submit work", data-user-new="#{Jobcards[index]._id}" datajobtype="#{Jobcards[index].jobcard_jobtype}") <img width="30px" src="/img/notifycallcenterimg.png" style="margin-bottom:-2px">
												a.tooltipped.pointer.photoinfo(style="margin-left: 5px; color:green",data-position="top", id = "photoinfo" data-delay="10", data-tooltip="Jobcard photos", datajobtype="#{Jobcards[index].jobcard_jobtype}" ,data-user-new="#{Jobcards[index]._id}") <img width="30px" src="/img/photo.png" style="margin-bottom:-2px">
												-if ((Jobcards[index].jobcard_departamentoid=="611e45e68cd71c1f48cf45bd") && (Jobcards[index].assinatura == "" || Jobcards[index].assinatura == undefined))
													a.tooltipped.pointer.hvacsignature(style="margin-left: 10px; color:green",data-position="top", id = "hvacsignature" data-delay="10", data-tooltip="Jobcard 	Signature" ,data-user-new="#{Jobcards[index]._id}") <i class="material-icons selmecAzul">border_color</i>
									-if(Jobcards[index].jobcard_callcenteractions && (Jobcards[index].jobcard_callcenteractions.findIndex(x=>x.jobcard_callcenteraction == "Tecnician called")!=-1))
										a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Comments made") <i class="material-icons selmecAzul">phone</i>
									-if(Jobcards[index].jobcard_prioritycomments && (Jobcards[index].jobcard_prioritycomments.findIndex(x=>x.jobcard_commentpriority=="Media")!=-1))
										a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Comments made") <i class="material-icons", style ="color:green">flag</i>
									-else if(Jobcards[index].jobcard_prioritycomments && (Jobcards[index].jobcard_prioritycomments.findIndex(x=>x.jobcard_commentpriority=="Alta")!=-1))
										a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Comments made") <i class="material-icons", style ="color:red">flag</i>
									-if ((DataU.nome==Jobcards[index].jobcard_tecniconome) && (Jobcards[index].jobcard_controlador.length == 1 || Jobcards[index].jobcard_controlador.length ==0))
										a.pointer.aprovarttnumber(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Accept the jobcard", data-user-new="#{Jobcards[index]._id}", datajobtype="#{Jobcards[index].jobcard_jobtype}", detalhescall="#{JSON.stringify(Jobcards[index].jobcard_call)}") <i class="material-icons bold">thumb_up</i>
									-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[1]) && (Jobcards[index].jobcard_controlador.length == 4) || (Jobcards[index].ttnumber_status == "In Progress" && DataU.nome==Jobcards[index].jobcard_tecniconome) && (Jobcards[index].jobcard_estadoactual == "Approved"))
										a.pointer.saidasitecallout(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Site Departure", data-user-new="#{Jobcards[index]._id}" datajobtype="#{Jobcards[index].jobcard_jobtype}") <i class="material-icons selmecAzul">time_to_leave</i>
									-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[2] || DataU.funcao == "Regional Manager" || DataU.nivel_acesso == "admin" || DataU.nome == "Antonio Biquiza" || DataU.nome == "Luis Brazuna" || DataU.nome == "Teresa Guimaraes" || DataU.funcao=="Manager" || DataU.funcao=="Commercial") && (Jobcards[index].jobcard_sitedeparturedate == undefined) && (Jobcards[index].jobcard_controlador.length < 3))
										a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Take action" href="/manutencao/detalhesAccaoPrioridade/#{Jobcards[index]._id}") <i class="material-icons selmecAzul">pan_tool</i>
									-if((DataU.funcao == "Call Center") && (Jobcards[index].jobcard_sitedeparturedate == undefined && DataU.nivel_acesso == "normal") && (DataU.departamento_id!="615349880bd5ed0cdc5ea1b8"))
										a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Add comments", href="/manutencao/detalhesCallCenterComments/#{Jobcards[index]._id}") <img width="20px" src="/img/addcomments.png" style="margin-bottom:-2px">
										a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Take action" href="/manutencao/detalhesAccaoCallcenter/#{Jobcards[index]._id}") <i class="material-icons selmecAzul">pan_tool</i>
										a.tooltipped.pointer.credelecdetalhes(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Credelec Details", datareferencia="#{Jobcards[index]._id}") <img width="27px" src="/img/electricity.png" style="margin-bottom:-2px">
									-if(DataU.nome == "Constantino Guijumba" && DataU.funcao == "Manager" && (DataU.nome != "Teresa Guimaraes") && (DataU.departamento_id!="615349880bd5ed0cdc5ea1b8"))
										a.pointer.tooltipped.deletejobcard(style="margin-left: 5px; color:green", data-position="top", data-delay="10", data-tooltip="Delete Jobcard", data-user-new="#{Jobcards[index]._id}", detalhescall="#{JSON.stringify(Jobcards[index].jobcard_call)}") <i class="material-icons selmecAzul bold">delete</i>
									a.tooltipped.pointer.detalhesJobcardCallOut.info(style="margin-left: 5px", data-position="top", data-delay="10", data-user-new="#{Jobcards[index]._id}", labesl="#{Jobcards[index].viatura}", data-tooltip="Details of job card") <i class="material-icons activarVerde">info</i>
						if !Dadospesquisa
							if(dadostotalnr > 1)
								if(Jobcards[0].ttnumber_status == "New" || Jobcards[0].ttnumber_status =="new")
									tr.highlight(style="font-family:;color:#12375c")
										td.center-align
											if(dadoscontroladordecr != 0)
												a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/ttnumberhome/new/previouspage/#{dadoscontroladordecr-2}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_rewind</i>
										td
										td
										td
										td
										td
										td
										td
										td.center-align
											if(dadoscontroladordecr < dadostotalnr)
												a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/ttnumberhome/new/nextpage/#{dadoscontroladorincr+1}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_forward</i>
								else
									if(Jobcards[0].ttnumber_status == "In Progress")
										tr.highlight(style="font-family:;color:#12375c")
											td.center-align
												if(dadoscontroladordecr != 0)
													a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/ttnumberhome/inprogress/previouspage/#{dadoscontroladordecr-1}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_rewind</i>
											td
											td
											td
											td
											td
											td
											td
											td.center-align
												if(dadoscontroladorincr < dadostotalnr)
													a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/ttnumberhome/inprogress/nextpage/#{dadoscontroladorincr+1}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_forward</i>
									else
										tr.highlight(style="font-family:;color:#12375c")
											td.center-align
												if(dadoscontroladordecr != 0)
													a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/ttnumberhome/complete/previouspage/#{dadoscontroladordecr-1}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_rewind</i>
											td
											td
											td
											td
											td
											td
											td
											td.center-align
												if(dadoscontroladorincr < dadostotalnr)
													a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/ttnumberhome/complete/nextpage/#{dadoscontroladorincr+1}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_forward</i>		
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.

			function validateFormTThomenew() {
				var pesquisador = document.forms["tthomenewpesquisa"]["pesquisador"].value;
				if(pesquisador != ""){
					document.getElementById("tthomenewpesquisa").action = "/manutencao/tthomenewpesquisa";
				}
			}

			function validateFormTThomeinprogress() {
				var pesquisador = document.forms["tthomeinprogresspesquisa"]["pesquisador"].value;
				if(pesquisador != ""){
					document.getElementById("tthomeinprogresspesquisa").action = "/manutencao/tthomeinprogresspesquisa";
				}
			}

			function validateFormTThomecomplete() {
				var pesquisador = document.forms["tthomecompletepesquisa"]["pesquisador"].value;
				if(pesquisador != ""){
					document.getElementById("tthomecompletepesquisa").action = "/manutencao/tthomecompletepesquisa";
				}
			}

			setTimeout(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);